<div class="modal fade noTextSelect" id="colorModal" tabindex="-1" aria-labelledby="colorodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorModalLabel">Note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="noteText" class="form-label">Text</label>
                    <textarea class="form-control" id="noteText" rows="3"></textarea>
                    <label for="noteLink" class="form-label">Link (<a href="#" title="Open link" onclick="window.open(document.getElementById('noteLink').value, '_blank').focus();">open link</a>)</label>
                    <input type="url" class="form-control" id="noteLink" />
                </div>

                <label for="noteColor" class="form-label">Color</label>
                <select id="noteColor" class="form-select" aria-label="Select color">
                  <option value="lightyellow" style="background-color: lightyellow">Light yellow</option>
                  <option value="lightgreen" style="background-color: lightgreen">Light green</option>
                  <option value="lightblue" style="background-color: lightblue">Light blue</option>
                  <option value="lightpink" style="background-color: lightpink">Light pink</option>
                  <option value="lightgray" style="background-color: lightgray">Light gray</option>
                  <option value="cyan" style="background-color: cyan">Cyan</option>
                  <option value="beige" style="background-color: beige">Beige</option>
                  <option value="violet" style="background-color: violet">Violet</option>
                  <option value="magenta" style="background-color: magenta">Magenta</option>
                  <option value="orange" style="background-color: orange">Orange</option>
                  <option value="red" style="background-color: red">Red</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateNoteSaveButton">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade noTextSelect" id="noteMenuModal" tabindex="-1" aria-labelledby="noteContextMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Note menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                  <button class="btn btn-success" type="button" id="noteMenuEditNote">Edit note</button>
                  <hr/>
                  <button class="btn btn-warning" type="button" id="noteMenuDeleteNote">Delete note</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade noTextSelect" id="menuModal" tabindex="-1" aria-labelledby="contextMenuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                  <button class="btn btn-success" type="button" id="menuAddNotes">Add notes</button>
                  <hr/>
                  <button class="btn btn-secondary" type="button"  id="menuZoomOut">Zoom out</button>
                  <hr/>
                  <button class="btn btn-secondary" type="button"  id="menuStartNewSession">Start new session</button>
                  <hr/>
                  <button class="btn btn-danger" type="button" id="menuRemoveAllNotes">Remove all notes</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade noTextSelect" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Whoops!</h5>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2">
                  It seems we lost the connection. Click refresh to try again.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="document.location.reload();">Refresh</button>
            </div>
        </div>
    </div>
</div>

<div id="notes"></div>

@section Scripts
    {
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/lib/signalr/signalr.js"></script>
        @*<script src="~/js/note.js" asp-append-version="true"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/signalr.min.js"></script>
        @*<script src="~/js/note.min.js" asp-append-version="true"></script>*@
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}
