<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sticky Notes</title>
    <meta property="og:title" content="Sticky Notes" />
    <meta property="og:image" content="stickynotes.png" />
    <meta property="og:description" content="Sticky Notes is simple but yet handy web-based planning tool mimicking sticky notes" />
    <meta property="og:url" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
